<h1>Detecting Missing Values</h1>

In [6]:
import numpy as np
import pandas as pd

df = pd.read_csv('./Data/weather_m4.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 14 columns):
YYYYMMDD           8784 non-null int64
TIME               8784 non-null int64
TEMP               8784 non-null int64
MIN_TEMP_GROUND    1464 non-null float64
PRESSURE           8784 non-null int64
HUMIDITY           8784 non-null int64
VIEW_RANGE         8743 non-null float64
CLOUD              8743 non-null float64
MIST               8741 non-null float64
RAIN               8741 non-null float64
SNOW               8741 non-null float64
THUNDER            8741 non-null float64
ICE                8741 non-null float64
WEATHER_CODE       3862 non-null float64
dtypes: float64(9), int64(5)
memory usage: 960.8 KB

In [7]:
df[['MIN_TEMP_GROUND','VIEW_RANGE', 'CLOUD', 'WEATHER_CODE']].head(15)

    MIN_TEMP_GROUND  VIEW_RANGE  CLOUD  WEATHER_CODE
0               NaN        56.0    4.0          10.0
1               NaN        57.0    2.0          10.0
2               NaN        56.0    7.0          23.0
3               NaN        57.0    7.0          51.0
4               NaN        56.0    7.0          22.0
5               3.0         9.0    0.0          34.0
6               NaN         5.0    0.0          34.0
7               NaN         1.0    0.0          34.0
8               NaN         2.0    0.0          32.0
9               NaN         5.0    0.0          32.0
10              NaN        64.0    0.0          20.0
11            -17.0        70.0    0.0           2.0
12              NaN        69.0    2.0           NaN
13              NaN        67.0    8.0           NaN
14              NaN        50.0    8.0          10.0

In [8]:
# Display boolean Dataset of NaN values by calling isnull():
df.isnull()

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE,WEATHER_CODE
0,False,False,False,True,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,True,False,False,False,False,False,False,False,False,False,False
7,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8,False,False,False,True,False,False,False,False,False,False,False,False,False,False
9,False,False,False,True,False,False,False,False,False,False,False,False,False,False
10,False,False,False,True,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,True,False,False,False,False,False,False,False,False,False,True
13,False,False,False,True,False,False,False,False,False,False,False,False,False,True
14,False,False,False,True,False,False,False,False,False,False,False,False,False,False
15,False,False,False,True,False,False,False,False,False,False,False,False,False,False
16,False,False,False,True,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,True,False,False,False,False,False,False,False,False,False,False
19,False,False,False,True,False,False,False,False,False,False,False,False,False,False
20,False,False,False,True,False,False,False,False,False,False,False,False,False,False
21,False,False,False,True,False,False,False,False,False,False,False,False,False,False
22,False,False,False,True,False,False,False,False,False,False,False,False,False,True
23,False,False,False,False,False,False,False,False,False,False,False,False,False,True
24,False,False,False,True,False,False,False,False,False,False,False,False,False,True
25,False,False,False,True,False,False,False,False,False,False,False,False,False,True
26,False,False,False,True,False,False,False,False,False,False,False,False,False,True
27,False,False,False,True,False,False,False,False,False,False,False,False,False,False
28,False,False,False,True,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8755,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8756,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8757,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8758,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8759,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8760,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8761,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8762,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8763,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8764,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8765,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8766,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8767,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8768,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8769,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8770,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8771,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8772,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8773,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8774,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8775,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8776,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8777,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8778,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8779,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8780,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8781,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8782,False,False,False,True,False,False,False,False,False,False,False,False,False,False
8783,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
# Call any() to take any column and return True if that column contains a NaN value:
df.isnull().any()

YYYYMMDD           False
TIME               False
TEMP               False
MIN_TEMP_GROUND     True
PRESSURE           False
HUMIDITY           False
VIEW_RANGE          True
CLOUD               True
MIST                True
RAIN                True
SNOW                True
THUNDER             True
ICE                 True
WEATHER_CODE        True
dtype: bool

In [17]:
# Use axis=1 to work over rows instead of columns:
df.isnull().any(axis=1)

0        True
1        True
2        True
3        True
4        True
5       False
6        True
7        True
8        True
9        True
10       True
11      False
12       True
13       True
14       True
15       True
16       True
17      False
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29      False
        ...
8754     True
8755     True
8756     True
8757     True
8758     True
8759    False
8760     True
8761     True
8762     True
8763     True
8764     True
8765    False
8766     True
8767     True
8768     True
8769     True
8770     True
8771    False
8772     True
8773     True
8774     True
8775     True
8776     True
8777    False
8778     True
8779     True
8780     True
8781     True
8782     True
8783    False
Length: 8784, dtype: bool

In [18]:
# Because the above is a series containing boolean values, can use it to select rows of the dataset containing NaN values:
type(df.isnull().any(axis=1))

pandas.core.series.Series

In [20]:
df[df.isnull().any(axis=1)]

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE,WEATHER_CODE
0,20160101,1,68,NaN,10207,87,56.0,4.0,0.0,0.0,0.0,0.0,0.0,10.0
1,20160101,2,58,NaN,10214,92,57.0,2.0,0.0,0.0,0.0,0.0,0.0,10.0
2,20160101,3,57,NaN,10220,92,56.0,7.0,0.0,1.0,0.0,0.0,0.0,23.0
3,20160101,4,60,NaN,10225,93,57.0,7.0,0.0,1.0,0.0,0.0,0.0,51.0
4,20160101,5,45,NaN,10230,95,56.0,7.0,0.0,1.0,0.0,0.0,0.0,22.0
6,20160101,7,11,NaN,10242,99,5.0,0.0,1.0,0.0,0.0,0.0,0.0,34.0
7,20160101,8,7,NaN,10245,100,1.0,0.0,1.0,0.0,0.0,0.0,1.0,34.0
8,20160101,9,2,NaN,10248,99,2.0,0.0,1.0,0.0,0.0,0.0,1.0,32.0
9,20160101,10,20,NaN,10249,100,5.0,0.0,1.0,0.0,0.0,0.0,0.0,32.0
10,20160101,11,72,NaN,10245,88,64.0,0.0,1.0,0.0,0.0,0.0,0.0,20.0
12,20160101,13,77,NaN,10231,84,69.0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
13,20160101,14,72,NaN,10225,87,67.0,8.0,0.0,0.0,0.0,0.0,0.0,NaN
14,20160101,15,53,NaN,10220,95,50.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
15,20160101,16,50,NaN,10217,98,14.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
16,20160101,17,49,NaN,10205,98,19.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
18,20160101,19,54,NaN,10188,97,48.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
19,20160101,20,57,NaN,10183,95,44.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
20,20160101,21,54,NaN,10170,95,50.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
21,20160101,22,53,NaN,10161,94,57.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
22,20160101,23,54,NaN,10146,93,60.0,8.0,0.0,0.0,0.0,0.0,0.0,NaN
23,20160101,24,56,47.0,10140,90,63.0,8.0,0.0,0.0,0.0,0.0,0.0,NaN
24,20160102,1,56,NaN,10124,89,64.0,8.0,0.0,0.0,0.0,0.0,0.0,NaN
25,20160102,2,56,NaN,10119,86,64.0,8.0,0.0,0.0,0.0,0.0,0.0,NaN
26,20160102,3,55,NaN,10109,86,64.0,8.0,0.0,0.0,0.0,0.0,0.0,NaN
27,20160102,4,54,NaN,10102,88,60.0,8.0,0.0,1.0,0.0,0.0,0.0,51.0
28,20160102,5,53,NaN,10093,89,61.0,8.0,0.0,1.0,0.0,0.0,0.0,51.0
30,20160102,7,51,NaN,10087,90,59.0,8.0,0.0,1.0,0.0,0.0,0.0,58.0
31,20160102,8,50,NaN,10083,93,57.0,8.0,0.0,1.0,0.0,0.0,0.0,61.0
32,20160102,9,51,NaN,10082,95,57.0,8.0,0.0,1.0,0.0,0.0,0.0,61.0
33,20160102,10,54,NaN,10083,95,57.0,8.0,0.0,1.0,0.0,0.0,0.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8748,20161230,13,19,NaN,10364,98,19.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8749,20161230,14,38,NaN,10360,94,42.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8750,20161230,15,44,NaN,10356,93,50.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8751,20161230,16,34,NaN,10356,94,50.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8752,20161230,17,39,NaN,10351,93,50.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8754,20161230,19,39,NaN,10354,92,56.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8755,20161230,20,36,NaN,10354,93,45.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8756,20161230,21,35,NaN,10352,93,43.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8757,20161230,22,35,NaN,10348,93,43.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8758,20161230,23,36,NaN,10344,94,36.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8760,20161231,1,39,NaN,10338,94,26.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8761,20161231,2,36,NaN,10336,98,5.0,8.0,1.0,0.0,0.0,0.0,0.0,34.0
8762,20161231,3,34,NaN,10333,99,3.0,9.0,1.0,0.0,0.0,0.0,0.0,34.0
8763,20161231,4,32,NaN,10331,99,3.0,9.0,1.0,0.0,0.0,0.0,0.0,33.0
8764,20161231,5,30,NaN,10328,99,3.0,9.0,1.0,0.0,0.0,0.0,0.0,33.0
8766,20161231,7,32,NaN,10324,99,5.0,9.0,1.0,0.0,0.0,0.0,0.0,32.0
8767,20161231,8,34,NaN,10324,99,2.0,9.0,1.0,0.0,0.0,0.0,0.0,34.0
8768,20161231,9,34,NaN,10324,99,3.0,9.0,1.0,0.0,0.0,0.0,0.0,32.0
8769,20161231,10,33,NaN,10321,99,4.0,9.0,1.0,0.0,0.0,0.0,0.0,32.0
8770,20161231,11,39,NaN,10317,98,15.0,8.0,1.0,0.0,0.0,0.0,0.0,20.0
8772,20161231,13,50,NaN,10301,96,31.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8773,20161231,14,52,NaN,10295,96,32.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8774,20161231,15,51,NaN,10288,97,26.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8775,20161231,16,46,NaN,10286,97,20.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8776,20161231,17,41,NaN,10284,98,11.0,8.0,0.0,0.0,0.0,0.0,0.0,10.0
8778,20161231,19,35,NaN,10271,98,7.0,9.0,1.0,0.0,0.0,0.0,0.0,34.0
8779,20161231,20,35,NaN,10265,98,11.0,8.0,1.0,0.0,0.0,0.0,0.0,20.0
8780,20161231,21,34,NaN,10258,98,9.0,9.0,1.0,0.0,0.0,0.0,0.0,34.0
8781,20161231,22,30,NaN,10253,98,9.0,9.0,1.0,1.0,0.0,0.0,0.0,33.0
8782,20161231,23,28,NaN,10246,98,6.0,9.0,1.0,1.0,0.0,0.0,0.0,34.0

In [24]:
# Scenario: are there any rows that only contain null values?
# Use the all() function to check this:
df.isnull().all(axis=1).any()

False

In [25]:
# Above means no row contains all NaN values

In [26]:
# Check all columns that have no NaN values at all, use notnull():
df.notnull().all()

YYYYMMDD            True
TIME                True
TEMP                True
MIN_TEMP_GROUND    False
PRESSURE            True
HUMIDITY            True
VIEW_RANGE         False
CLOUD              False
MIST               False
RAIN               False
SNOW               False
THUNDER            False
ICE                False
WEATHER_CODE       False
dtype: bool

In [56]:
# Column MIN_GROUND_TEMP looks like it only has a non-NaN number every 6th entry:
df['MIN_TEMP_GROUND']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        3.0
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11     -17.0
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17      47.0
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23      47.0
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29      48.0
        ...
8754     NaN
8755     NaN
8756     NaN
8757     NaN
8758     NaN
8759    32.0
8760     NaN
8761     NaN
8762     NaN
8763     NaN
8764     NaN
8765    29.0
8766     NaN
8767     NaN
8768     NaN
8769     NaN
8770     NaN
8771    29.0
8772     NaN
8773     NaN
8774     NaN
8775     NaN
8776     NaN
8777    37.0
8778     NaN
8779     NaN
8780     NaN
8781     NaN
8782     NaN
8783    26.0
Name: MIN_TEMP_GROUND, Length: 8784, dtype: float64

In [71]:
# How to check that every 6th value is true?
# Start by making a list containing all positions in the column where I suspect there should be a number:
every_6th_row_list = list(range(5, len(df), 6))
every_6th_row_list

[5,
 11,
 17,
 23,
 29,
 35,
 41,
 47,
 53,
 59,
 65,
 71,
 77,
 83,
 89,
 95,
 101,
 107,
 113,
 119,
 125,
 131,
 137,
 143,
 149,
 155,
 161,
 167,
 173,
 179,
 185,
 191,
 197,
 203,
 209,
 215,
 221,
 227,
 233,
 239,
 245,
 251,
 257,
 263,
 269,
 275,
 281,
 287,
 293,
 299,
 305,
 311,
 317,
 323,
 329,
 335,
 341,
 347,
 353,
 359,
 365,
 371,
 377,
 383,
 389,
 395,
 401,
 407,
 413,
 419,
 425,
 431,
 437,
 443,
 449,
 455,
 461,
 467,
 473,
 479,
 485,
 491,
 497,
 503,
 509,
 515,
 521,
 527,
 533,
 539,
 545,
 551,
 557,
 563,
 569,
 575,
 581,
 587,
 593,
 599,
 605,
 611,
 617,
 623,
 629,
 635,
 641,
 647,
 653,
 659,
 665,
 671,
 677,
 683,
 689,
 695,
 701,
 707,
 713,
 719,
 725,
 731,
 737,
 743,
 749,
 755,
 761,
 767,
 773,
 779,
 785,
 791,
 797,
 803,
 809,
 815,
 821,
 827,
 833,
 839,
 845,
 851,
 857,
 863,
 869,
 875,
 881,
 887,
 893,
 899,
 905,
 911,
 917,
 923,
 929,
 935,
 941,
 947,
 953,
 959,
 965,
 971,
 977,
 983,
 989,
 995,
 1001,
 1007,
 1013,
 1019,
 1025,
 1031,
 1037,
 1043,
 1049,
 1055,
 1061,
 1067,
 1073,
 1079,
 1085,
 1091,
 1097,
 1103,
 1109,
 1115,
 1121,
 1127,
 1133,
 1139,
 1145,
 1151,
 1157,
 1163,
 1169,
 1175,
 1181,
 1187,
 1193,
 1199,
 1205,
 1211,
 1217,
 1223,
 1229,
 1235,
 1241,
 1247,
 1253,
 1259,
 1265,
 1271,
 1277,
 1283,
 1289,
 1295,
 1301,
 1307,
 1313,
 1319,
 1325,
 1331,
 1337,
 1343,
 1349,
 1355,
 1361,
 1367,
 1373,
 1379,
 1385,
 1391,
 1397,
 1403,
 1409,
 1415,
 1421,
 1427,
 1433,
 1439,
 1445,
 1451,
 1457,
 1463,
 1469,
 1475,
 1481,
 1487,
 1493,
 1499,
 1505,
 1511,
 1517,
 1523,
 1529,
 1535,
 1541,
 1547,
 1553,
 1559,
 1565,
 1571,
 1577,
 1583,
 1589,
 1595,
 1601,
 1607,
 1613,
 1619,
 1625,
 1631,
 1637,
 1643,
 1649,
 1655,
 1661,
 1667,
 1673,
 1679,
 1685,
 1691,
 1697,
 1703,
 1709,
 1715,
 1721,
 1727,
 1733,
 1739,
 1745,
 1751,
 1757,
 1763,
 1769,
 1775,
 1781,
 1787,
 1793,
 1799,
 1805,
 1811,
 1817,
 1823,
 1829,
 1835,
 1841,
 1847,
 1853,
 1859,
 1865,
 1871,
 1877,
 1883,
 1889,
 1895,
 1901,
 1907,
 1913,
 1919,
 1925,
 1931,
 1937,
 1943,
 1949,
 1955,
 1961,
 1967,
 1973,
 1979,
 1985,
 1991,
 1997,
 2003,
 2009,
 2015,
 2021,
 2027,
 2033,
 2039,
 2045,
 2051,
 2057,
 2063,
 2069,
 2075,
 2081,
 2087,
 2093,
 2099,
 2105,
 2111,
 2117,
 2123,
 2129,
 2135,
 2141,
 2147,
 2153,
 2159,
 2165,
 2171,
 2177,
 2183,
 2189,
 2195,
 2201,
 2207,
 2213,
 2219,
 2225,
 2231,
 2237,
 2243,
 2249,
 2255,
 2261,
 2267,
 2273,
 2279,
 2285,
 2291,
 2297,
 2303,
 2309,
 2315,
 2321,
 2327,
 2333,
 2339,
 2345,
 2351,
 2357,
 2363,
 2369,
 2375,
 2381,
 2387,
 2393,
 2399,
 2405,
 2411,
 2417,
 2423,
 2429,
 2435,
 2441,
 2447,
 2453,
 2459,
 2465,
 2471,
 2477,
 2483,
 2489,
 2495,
 2501,
 2507,
 2513,
 2519,
 2525,
 2531,
 2537,
 2543,
 2549,
 2555,
 2561,
 2567,
 2573,
 2579,
 2585,
 2591,
 2597,
 2603,
 2609,
 2615,
 2621,
 2627,
 2633,
 2639,
 2645,
 2651,
 2657,
 2663,
 2669,
 2675,
 2681,
 2687,
 2693,
 2699,
 2705,
 2711,
 2717,
 2723,
 2729,
 2735,
 2741,
 2747,
 2753,
 2759,
 2765,
 2771,
 2777,
 2783,
 2789,
 2795,
 2801,
 2807,
 2813,
 2819,
 2825,
 2831,
 2837,
 2843,
 2849,
 2855,
 2861,
 2867,
 2873,
 2879,
 2885,
 2891,
 2897,
 2903,
 2909,
 2915,
 2921,
 2927,
 2933,
 2939,
 2945,
 2951,
 2957,
 2963,
 2969,
 2975,
 2981,
 2987,
 2993,
 2999,
 3005,
 3011,
 3017,
 3023,
 3029,
 3035,
 3041,
 3047,
 3053,
 3059,
 3065,
 3071,
 3077,
 3083,
 3089,
 3095,
 3101,
 3107,
 3113,
 3119,
 3125,
 3131,
 3137,
 3143,
 3149,
 3155,
 3161,
 3167,
 3173,
 3179,
 3185,
 3191,
 3197,
 3203,
 3209,
 3215,
 3221,
 3227,
 3233,
 3239,
 3245,
 3251,
 3257,
 3263,
 3269,
 3275,
 3281,
 3287,
 3293,
 3299,
 3305,
 3311,
 3317,
 3323,
 3329,
 3335,
 3341,
 3347,
 3353,
 3359,
 3365,
 3371,
 3377,
 3383,
 3389,
 3395,
 3401,
 3407,
 3413,
 3419,
 3425,
 3431,
 3437,
 3443,
 3449,
 3455,
 3461,
 3467,
 3473,
 3479,
 3485,
 3491,
 3497,
 3503,
 3509,
 3515,
 3521,
 3527,
 3533,
 3539,
 3545,
 3551,
 3557,
 3563,
 3569,
 3575,
 3581,
 3587,
 3593,
 3599,
 3605,
 3611,
 3617,
 3623,
 3629,
 3635,
 3641,
 3647,
 3653,
 3659,
 3665,
 3671,
 3677,
 3683,
 3689,
 3695,
 3701,
 3707,
 3713,
 3719,
 3725,
 3731,
 3737,
 3743,
 3749,
 3755,
 3761,
 3767,
 3773,
 3779,
 3785,
 3791,
 3797,
 3803,
 3809,
 3815,
 3821,
 3827,
 3833,
 3839,
 3845,
 3851,
 3857,
 3863,
 3869,
 3875,
 3881,
 3887,
 3893,
 3899,
 3905,
 3911,
 3917,
 3923,
 3929,
 3935,
 3941,
 3947,
 3953,
 3959,
 3965,
 3971,
 3977,
 3983,
 3989,
 3995,
 4001,
 4007,
 4013,
 4019,
 4025,
 4031,
 4037,
 4043,
 4049,
 4055,
 4061,
 4067,
 4073,
 4079,
 4085,
 4091,
 4097,
 4103,
 4109,
 4115,
 4121,
 4127,
 4133,
 4139,
 4145,
 4151,
 4157,
 4163,
 4169,
 4175,
 4181,
 4187,
 4193,
 4199,
 4205,
 4211,
 4217,
 4223,
 4229,
 4235,
 4241,
 4247,
 4253,
 4259,
 4265,
 4271,
 4277,
 4283,
 4289,
 4295,
 4301,
 4307,
 4313,
 4319,
 4325,
 4331,
 4337,
 4343,
 4349,
 4355,
 4361,
 4367,
 4373,
 4379,
 4385,
 4391,
 4397,
 4403,
 4409,
 4415,
 4421,
 4427,
 4433,
 4439,
 4445,
 4451,
 4457,
 4463,
 4469,
 4475,
 4481,
 4487,
 4493,
 4499,
 4505,
 4511,
 4517,
 4523,
 4529,
 4535,
 4541,
 4547,
 4553,
 4559,
 4565,
 4571,
 4577,
 4583,
 4589,
 4595,
 4601,
 4607,
 4613,
 4619,
 4625,
 4631,
 4637,
 4643,
 4649,
 4655,
 4661,
 4667,
 4673,
 4679,
 4685,
 4691,
 4697,
 4703,
 4709,
 4715,
 4721,
 4727,
 4733,
 4739,
 4745,
 4751,
 4757,
 4763,
 4769,
 4775,
 4781,
 4787,
 4793,
 4799,
 4805,
 4811,
 4817,
 4823,
 4829,
 4835,
 4841,
 4847,
 4853,
 4859,
 4865,
 4871,
 4877,
 4883,
 4889,
 4895,
 4901,
 4907,
 4913,
 4919,
 4925,
 4931,
 4937,
 4943,
 4949,
 4955,
 4961,
 4967,
 4973,
 4979,
 4985,
 4991,
 4997,
 5003,
 5009,
 5015,
 5021,
 5027,
 5033,
 5039,
 5045,
 5051,
 5057,
 5063,
 5069,
 5075,
 5081,
 5087,
 5093,
 5099,
 5105,
 5111,
 5117,
 5123,
 5129,
 5135,
 5141,
 5147,
 5153,
 5159,
 5165,
 5171,
 5177,
 5183,
 5189,
 5195,
 5201,
 5207,
 5213,
 5219,
 5225,
 5231,
 5237,
 5243,
 5249,
 5255,
 5261,
 5267,
 5273,
 5279,
 5285,
 5291,
 5297,
 5303,
 5309,
 5315,
 5321,
 5327,
 5333,
 5339,
 5345,
 5351,
 5357,
 5363,
 5369,
 5375,
 5381,
 5387,
 5393,
 5399,
 5405,
 5411,
 5417,
 5423,
 5429,
 5435,
 5441,
 5447,
 5453,
 5459,
 5465,
 5471,
 5477,
 5483,
 5489,
 5495,
 5501,
 5507,
 5513,
 5519,
 5525,
 5531,
 5537,
 5543,
 5549,
 5555,
 5561,
 5567,
 5573,
 5579,
 5585,
 5591,
 5597,
 5603,
 5609,
 5615,
 5621,
 5627,
 5633,
 5639,
 5645,
 5651,
 5657,
 5663,
 5669,
 5675,
 5681,
 5687,
 5693,
 5699,
 5705,
 5711,
 5717,
 5723,
 5729,
 5735,
 5741,
 5747,
 5753,
 5759,
 5765,
 5771,
 5777,
 5783,
 5789,
 5795,
 5801,
 5807,
 5813,
 5819,
 5825,
 5831,
 5837,
 5843,
 5849,
 5855,
 5861,
 5867,
 5873,
 5879,
 5885,
 5891,
 5897,
 5903,
 5909,
 5915,
 5921,
 5927,
 5933,
 5939,
 5945,
 5951,
 5957,
 5963,
 5969,
 5975,
 5981,
 5987,
 5993,
 5999,
 ...]

In [40]:
every_6th_row = pd.Series(range(5, len(df), 6))

In [73]:
# Recall that one can use a list of indices to return a list of rows from a DataSet:
df['MIN_TEMP_GROUND'][every_6th_row]

5         3.0
11      -17.0
17       47.0
23       47.0
29       48.0
35       47.0
41       62.0
47       64.0
53       71.0
59       71.0
65       56.0
71       50.0
77       42.0
83       51.0
89       69.0
95       64.0
101      54.0
107      61.0
113      66.0
119      62.0
125      54.0
131      38.0
137      37.0
143      37.0
149      42.0
155      51.0
161      53.0
167      62.0
173      56.0
179      56.0
        ...
8609     81.0
8615     84.0
8621     85.0
8627     93.0
8633    107.0
8639    100.0
8645     74.0
8651     75.0
8657     61.0
8663     61.0
8669     62.0
8675     40.0
8681     39.0
8687    -21.0
8693    -45.0
8699    -35.0
8705     32.0
8711    -21.0
8717     -5.0
8723     -8.0
8729     -4.0
8735    -17.0
8741    -17.0
8747     -8.0
8753     11.0
8759     32.0
8765     29.0
8771     29.0
8777     37.0
8783     26.0
Name: MIN_TEMP_GROUND, Length: 1464, dtype: float64

In [74]:
# Check all of the above rows are filled:

df	 every_6th_row	 every_6th_row_list	 np	 pd

In [75]:
df['MIN_TEMP_GROUND'][every_6th_row].notnull().all()

True

In [78]:
# Are all other rows empty?
# Now, drop every 6th row using drop(), then check isnull() on the result:
df['MIN_TEMP_GROUND'].drop(every_6th_row).isnull().all()

True

In [86]:
# Can you rewrite this line to use df.loc?

# df.loc(rows, columns)
df.loc[[False, True, True],'MIN_TEMP_GROUND']

1   NaN
2   NaN
Name: MIN_TEMP_GROUND, dtype: float64

<h1>Handling Missing Values</h1>

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 14 columns):
YYYYMMDD           8784 non-null int64
TIME               8784 non-null int64
TEMP               8784 non-null int64
MIN_TEMP_GROUND    1464 non-null float64
PRESSURE           8784 non-null int64
HUMIDITY           8784 non-null int64
VIEW_RANGE         8743 non-null float64
CLOUD              8743 non-null float64
MIST               8741 non-null float64
RAIN               8741 non-null float64
SNOW               8741 non-null float64
THUNDER            8741 non-null float64
ICE                8741 non-null float64
WEATHER_CODE       3862 non-null float64
dtypes: float64(9), int64(5)
memory usage: 960.8 KB

In [91]:
df.drop(columns='WEATHER_CODE').head(5)

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
0,20160101,1,68,NaN,10207,87,56.0,4.0,0.0,0.0,0.0,0.0,0.0
1,20160101,2,58,NaN,10214,92,57.0,2.0,0.0,0.0,0.0,0.0,0.0
2,20160101,3,57,NaN,10220,92,56.0,7.0,0.0,1.0,0.0,0.0,0.0
3,20160101,4,60,NaN,10225,93,57.0,7.0,0.0,1.0,0.0,0.0,0.0
4,20160101,5,45,NaN,10230,95,56.0,7.0,0.0,1.0,0.0,0.0,0.0

In [92]:
df.drop(columns='WEATHER_CODE', inplace=True)

In [94]:
df['MIN_TEMP_GROUND'].head(12)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      3.0
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11   -17.0
Name: MIN_TEMP_GROUND, dtype: float64

In [95]:
df['MIN_TEMP_GROUND'].head(12).fillna(0)

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      3.0
6      0.0
7      0.0
8      0.0
9      0.0
10     0.0
11   -17.0
Name: MIN_TEMP_GROUND, dtype: float64

In [96]:
df['MIN_TEMP_GROUND'].head(12).fillna(method='ffill')

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      3.0
6      3.0
7      3.0
8      3.0
9      3.0
10     3.0
11   -17.0
Name: MIN_TEMP_GROUND, dtype: float64

In [97]:
df['MIN_TEMP_GROUND'].head(12).fillna(method='bfill')

0      3.0
1      3.0
2      3.0
3      3.0
4      3.0
5      3.0
6    -17.0
7    -17.0
8    -17.0
9    -17.0
10   -17.0
11   -17.0
Name: MIN_TEMP_GROUND, dtype: float64

In [100]:
df['MIN_TEMP_GROUND'].fillna(method='bfill', inplace=True)

In [102]:
# MIN_TEMP_GROUND no longer contains null values:
df.isnull().any()

YYYYMMDD           False
TIME               False
TEMP               False
MIN_TEMP_GROUND    False
PRESSURE           False
HUMIDITY           False
VIEW_RANGE          True
CLOUD               True
MIST                True
RAIN                True
SNOW                True
THUNDER             True
ICE                 True
dtype: bool

In [103]:
# pandas.DataFrame.interpolate does all kinds of interpolation value filling methods.

In [106]:
# Now look for rows with missing values
df.isnull().any(axis=1)

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
8754    False
8755    False
8756    False
8757    False
8758    False
8759    False
8760    False
8761    False
8762    False
8763    False
8764    False
8765    False
8766    False
8767    False
8768    False
8769    False
8770    False
8771    False
8772    False
8773    False
8774    False
8775    False
8776    False
8777    False
8778    False
8779    False
8780    False
8781    False
8782    False
8783    False
Length: 8784, dtype: bool

In [107]:
df[df.isnull().any(axis=1)]

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
5306,20160809,3,115,95.0,10207,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5307,20160809,4,107,95.0,10206,93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5308,20160809,5,104,95.0,10210,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5309,20160809,6,115,95.0,10210,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5310,20160809,7,125,110.0,10211,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5311,20160809,8,144,110.0,10217,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5312,20160809,9,148,110.0,10222,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5313,20160809,10,156,110.0,10228,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5314,20160809,11,153,110.0,10230,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5315,20160809,12,161,110.0,10231,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5316,20160809,13,165,135.0,10234,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5317,20160809,14,167,135.0,10233,65,80.0,2.0,NaN,NaN,NaN,NaN,NaN
5596,20160821,5,150,145.0,10107,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5597,20160821,6,160,145.0,10111,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5598,20160821,7,160,150.0,10116,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5599,20160821,8,150,150.0,10122,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5600,20160821,9,165,150.0,10128,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5601,20160821,10,160,150.0,10134,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5602,20160821,11,180,150.0,10140,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5603,20160821,12,185,150.0,10150,83,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5604,20160821,13,185,175.0,10158,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5605,20160821,14,190,175.0,10165,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5606,20160821,15,200,175.0,10172,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5607,20160821,16,195,175.0,10175,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5608,20160821,17,190,175.0,10183,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5609,20160821,18,190,175.0,10187,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5610,20160821,19,180,160.0,10194,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5611,20160821,20,180,160.0,10199,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5612,20160821,21,175,160.0,10202,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5613,20160821,22,170,160.0,10202,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5614,20160821,23,170,160.0,10204,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5615,20160821,24,165,160.0,10206,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5616,20160822,1,165,160.0,10205,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5617,20160822,2,165,160.0,10204,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5618,20160822,3,170,160.0,10203,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5619,20160822,4,170,160.0,10205,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5620,20160822,5,175,160.0,10206,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5621,20160822,6,177,160.0,10212,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5622,20160822,7,180,175.0,10215,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5623,20160822,8,185,175.0,10220,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5624,20160822,9,185,175.0,10223,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5625,20160822,10,190,175.0,10228,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5626,20160822,11,193,175.0,10233,88,65.0,8.0,NaN,NaN,NaN,NaN,NaN

In [109]:
# Note that most of the data is missing in the last 7 columns.
# To look at the date when this occurs, I can use indexing with loc, to select only the dates of these rows:
df.loc[df.isnull().any(axis=1), 'YYYYMMDD']

5306    20160809
5307    20160809
5308    20160809
5309    20160809
5310    20160809
5311    20160809
5312    20160809
5313    20160809
5314    20160809
5315    20160809
5316    20160809
5317    20160809
5596    20160821
5597    20160821
5598    20160821
5599    20160821
5600    20160821
5601    20160821
5602    20160821
5603    20160821
5604    20160821
5605    20160821
5606    20160821
5607    20160821
5608    20160821
5609    20160821
5610    20160821
5611    20160821
5612    20160821
5613    20160821
5614    20160821
5615    20160821
5616    20160822
5617    20160822
5618    20160822
5619    20160822
5620    20160822
5621    20160822
5622    20160822
5623    20160822
5624    20160822
5625    20160822
5626    20160822
Name: YYYYMMDD, dtype: int64

In [110]:
# Now check for the unique values using value_counts():
df.loc[df.isnull().any(axis=1), 'YYYYMMDD'].value_counts()

20160821    20
20160809    12
20160822    11
Name: YYYYMMDD, dtype: int64

In [111]:
# The above shows three days in which the values where null.
# To drop all rows containing null values, use dropna()

nulls_dropped = df.dropna()
nulls_dropped

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
0,20160101,1,68,3.0,10207,87,56.0,4.0,0.0,0.0,0.0,0.0,0.0
1,20160101,2,58,3.0,10214,92,57.0,2.0,0.0,0.0,0.0,0.0,0.0
2,20160101,3,57,3.0,10220,92,56.0,7.0,0.0,1.0,0.0,0.0,0.0
3,20160101,4,60,3.0,10225,93,57.0,7.0,0.0,1.0,0.0,0.0,0.0
4,20160101,5,45,3.0,10230,95,56.0,7.0,0.0,1.0,0.0,0.0,0.0
5,20160101,6,20,3.0,10237,99,9.0,0.0,1.0,0.0,0.0,0.0,0.0
6,20160101,7,11,-17.0,10242,99,5.0,0.0,1.0,0.0,0.0,0.0,0.0
7,20160101,8,7,-17.0,10245,100,1.0,0.0,1.0,0.0,0.0,0.0,1.0
8,20160101,9,2,-17.0,10248,99,2.0,0.0,1.0,0.0,0.0,0.0,1.0
9,20160101,10,20,-17.0,10249,100,5.0,0.0,1.0,0.0,0.0,0.0,0.0
10,20160101,11,72,-17.0,10245,88,64.0,0.0,1.0,0.0,0.0,0.0,0.0
11,20160101,12,79,-17.0,10239,84,70.0,0.0,0.0,0.0,0.0,0.0,0.0
12,20160101,13,77,47.0,10231,84,69.0,2.0,0.0,0.0,0.0,0.0,0.0
13,20160101,14,72,47.0,10225,87,67.0,8.0,0.0,0.0,0.0,0.0,0.0
14,20160101,15,53,47.0,10220,95,50.0,8.0,0.0,0.0,0.0,0.0,0.0
15,20160101,16,50,47.0,10217,98,14.0,8.0,0.0,0.0,0.0,0.0,0.0
16,20160101,17,49,47.0,10205,98,19.0,8.0,0.0,0.0,0.0,0.0,0.0
17,20160101,18,49,47.0,10194,98,17.0,8.0,0.0,0.0,0.0,0.0,0.0
18,20160101,19,54,47.0,10188,97,48.0,8.0,0.0,0.0,0.0,0.0,0.0
19,20160101,20,57,47.0,10183,95,44.0,8.0,0.0,0.0,0.0,0.0,0.0
20,20160101,21,54,47.0,10170,95,50.0,8.0,0.0,0.0,0.0,0.0,0.0
21,20160101,22,53,47.0,10161,94,57.0,8.0,0.0,0.0,0.0,0.0,0.0
22,20160101,23,54,47.0,10146,93,60.0,8.0,0.0,0.0,0.0,0.0,0.0
23,20160101,24,56,47.0,10140,90,63.0,8.0,0.0,0.0,0.0,0.0,0.0
24,20160102,1,56,48.0,10124,89,64.0,8.0,0.0,0.0,0.0,0.0,0.0
25,20160102,2,56,48.0,10119,86,64.0,8.0,0.0,0.0,0.0,0.0,0.0
26,20160102,3,55,48.0,10109,86,64.0,8.0,0.0,0.0,0.0,0.0,0.0
27,20160102,4,54,48.0,10102,88,60.0,8.0,0.0,1.0,0.0,0.0,0.0
28,20160102,5,53,48.0,10093,89,61.0,8.0,0.0,1.0,0.0,0.0,0.0
29,20160102,6,53,48.0,10089,88,62.0,8.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,20161230,19,39,32.0,10354,92,56.0,8.0,0.0,0.0,0.0,0.0,0.0
8755,20161230,20,36,32.0,10354,93,45.0,8.0,0.0,0.0,0.0,0.0,0.0
8756,20161230,21,35,32.0,10352,93,43.0,8.0,0.0,0.0,0.0,0.0,0.0
8757,20161230,22,35,32.0,10348,93,43.0,8.0,0.0,0.0,0.0,0.0,0.0
8758,20161230,23,36,32.0,10344,94,36.0,8.0,0.0,0.0,0.0,0.0,0.0
8759,20161230,24,40,32.0,10340,93,37.0,8.0,0.0,0.0,0.0,0.0,0.0
8760,20161231,1,39,29.0,10338,94,26.0,8.0,0.0,0.0,0.0,0.0,0.0
8761,20161231,2,36,29.0,10336,98,5.0,8.0,1.0,0.0,0.0,0.0,0.0
8762,20161231,3,34,29.0,10333,99,3.0,9.0,1.0,0.0,0.0,0.0,0.0
8763,20161231,4,32,29.0,10331,99,3.0,9.0,1.0,0.0,0.0,0.0,0.0
8764,20161231,5,30,29.0,10328,99,3.0,9.0,1.0,0.0,0.0,0.0,0.0
8765,20161231,6,29,29.0,10326,99,3.0,9.0,1.0,0.0,0.0,0.0,0.0
8766,20161231,7,32,29.0,10324,99,5.0,9.0,1.0,0.0,0.0,0.0,0.0
8767,20161231,8,34,29.0,10324,99,2.0,9.0,1.0,0.0,0.0,0.0,0.0
8768,20161231,9,34,29.0,10324,99,3.0,9.0,1.0,0.0,0.0,0.0,0.0
8769,20161231,10,33,29.0,10321,99,4.0,9.0,1.0,0.0,0.0,0.0,0.0
8770,20161231,11,39,29.0,10317,98,15.0,8.0,1.0,0.0,0.0,0.0,0.0
8771,20161231,12,45,29.0,10307,98,21.0,8.0,0.0,0.0,0.0,0.0,0.0
8772,20161231,13,50,37.0,10301,96,31.0,8.0,0.0,0.0,0.0,0.0,0.0
8773,20161231,14,52,37.0,10295,96,32.0,8.0,0.0,0.0,0.0,0.0,0.0
8774,20161231,15,51,37.0,10288,97,26.0,8.0,0.0,0.0,0.0,0.0,0.0
8775,20161231,16,46,37.0,10286,97,20.0,8.0,0.0,0.0,0.0,0.0,0.0
8776,20161231,17,41,37.0,10284,98,11.0,8.0,0.0,0.0,0.0,0.0,0.0
8777,20161231,18,37,37.0,10277,98,8.0,9.0,1.0,0.0,0.0,0.0,0.0
8778,20161231,19,35,26.0,10271,98,7.0,9.0,1.0,0.0,0.0,0.0,0.0
8779,20161231,20,35,26.0,10265,98,11.0,8.0,1.0,0.0,0.0,0.0,0.0
8780,20161231,21,34,26.0,10258,98,9.0,9.0,1.0,0.0,0.0,0.0,0.0
8781,20161231,22,30,26.0,10253,98,9.0,9.0,1.0,1.0,0.0,0.0,0.0
8782,20161231,23,28,26.0,10246,98,6.0,9.0,1.0,1.0,0.0,0.0,0.0
8783,20161231,24,28,26.0,10239,98,2.0,9.0,1.0,0.0,0.0,0.0,0.0

In [113]:
nulls_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8741 entries, 0 to 8783
Data columns (total 13 columns):
YYYYMMDD           8741 non-null int64
TIME               8741 non-null int64
TEMP               8741 non-null int64
MIN_TEMP_GROUND    8741 non-null float64
PRESSURE           8741 non-null int64
HUMIDITY           8741 non-null int64
VIEW_RANGE         8741 non-null float64
CLOUD              8741 non-null float64
MIST               8741 non-null float64
RAIN               8741 non-null float64
SNOW               8741 non-null float64
THUNDER            8741 non-null float64
ICE                8741 non-null float64
dtypes: float64(8), int64(5)
memory usage: 956.0 KB

In [114]:
# Note that although the total number of values is 8741, the index goes to 8783. This means that the index of the data is not
# nicely continuous anymore:
nulls_dropped[5300:5310]

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
5300,20160808,21,131,124.0,10211,96,65.0,8.0,0.0,0.0,0.0,0.0,0.0
5301,20160808,22,133,124.0,10209,97,65.0,8.0,0.0,0.0,0.0,0.0,0.0
5302,20160808,23,135,124.0,10209,96,65.0,8.0,0.0,0.0,0.0,0.0,0.0
5303,20160808,24,136,124.0,10208,94,65.0,8.0,0.0,0.0,0.0,0.0,0.0
5304,20160809,1,141,95.0,10205,89,70.0,8.0,0.0,0.0,0.0,0.0,0.0
5305,20160809,2,123,95.0,10199,92,65.0,1.0,0.0,0.0,0.0,1.0,0.0
5318,20160809,15,143,135.0,10234,85,59.0,8.0,0.0,1.0,0.0,0.0,0.0
5319,20160809,16,160,135.0,10231,65,80.0,2.0,0.0,1.0,0.0,0.0,0.0
5320,20160809,17,156,135.0,10231,62,80.0,0.0,0.0,0.0,0.0,0.0,0.0
5321,20160809,18,140,135.0,10227,72,75.0,1.0,0.0,0.0,0.0,0.0,0.0

In [115]:
# A useful parameter when using drop() is thresh; it allows me to determine how many values must be present in a row, to keep the row in my
# dataset
drop_thresh = df.dropna(thresh=7)

In [117]:
drop_thresh[drop_thresh.isnull().any(axis=1)]

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
5317,20160809,14,167,135.0,10233,65,80.0,2.0,NaN,NaN,NaN,NaN,NaN
5626,20160822,11,193,175.0,10233,88,65.0,8.0,NaN,NaN,NaN,NaN,NaN

In [118]:
# The following are ways to fill in missing data instead of dropping it

In [121]:
rows_to_fill = df.isnull().any(axis=1)
rows_to_fill.head(5)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [122]:
df[rows_to_fill]

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
5306,20160809,3,115,95.0,10207,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5307,20160809,4,107,95.0,10206,93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5308,20160809,5,104,95.0,10210,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5309,20160809,6,115,95.0,10210,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5310,20160809,7,125,110.0,10211,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5311,20160809,8,144,110.0,10217,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5312,20160809,9,148,110.0,10222,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5313,20160809,10,156,110.0,10228,70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5314,20160809,11,153,110.0,10230,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5315,20160809,12,161,110.0,10231,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5316,20160809,13,165,135.0,10234,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5317,20160809,14,167,135.0,10233,65,80.0,2.0,NaN,NaN,NaN,NaN,NaN
5596,20160821,5,150,145.0,10107,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5597,20160821,6,160,145.0,10111,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5598,20160821,7,160,150.0,10116,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5599,20160821,8,150,150.0,10122,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5600,20160821,9,165,150.0,10128,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5601,20160821,10,160,150.0,10134,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5602,20160821,11,180,150.0,10140,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5603,20160821,12,185,150.0,10150,83,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5604,20160821,13,185,175.0,10158,80,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5605,20160821,14,190,175.0,10165,77,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5606,20160821,15,200,175.0,10172,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5607,20160821,16,195,175.0,10175,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5608,20160821,17,190,175.0,10183,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5609,20160821,18,190,175.0,10187,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5610,20160821,19,180,160.0,10194,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5611,20160821,20,180,160.0,10199,82,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5612,20160821,21,175,160.0,10202,85,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5613,20160821,22,170,160.0,10202,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5614,20160821,23,170,160.0,10204,88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5615,20160821,24,165,160.0,10206,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5616,20160822,1,165,160.0,10205,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5617,20160822,2,165,160.0,10204,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5618,20160822,3,170,160.0,10203,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5619,20160822,4,170,160.0,10205,97,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5620,20160822,5,175,160.0,10206,98,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5621,20160822,6,177,160.0,10212,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5622,20160822,7,180,175.0,10215,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5623,20160822,8,185,175.0,10220,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5624,20160822,9,185,175.0,10223,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5625,20160822,10,190,175.0,10228,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5626,20160822,11,193,175.0,10233,88,65.0,8.0,NaN,NaN,NaN,NaN,NaN

In [124]:
# To use column mean values of the missing cells:
nulls_filled = df.fillna(df.mean())

In [125]:
nulls_filled[rows_to_fill]

,YYYYMMDD,TIME,TEMP,MIN_TEMP_GROUND,PRESSURE,HUMIDITY,VIEW_RANGE,CLOUD,MIST,RAIN,SNOW,THUNDER,ICE
5306,20160809,3,115,95.0,10207,90,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5307,20160809,4,107,95.0,10206,93,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5308,20160809,5,104,95.0,10210,80,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5309,20160809,6,115,95.0,10210,80,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5310,20160809,7,125,110.0,10211,70,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5311,20160809,8,144,110.0,10217,75,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5312,20160809,9,148,110.0,10222,70,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5313,20160809,10,156,110.0,10228,70,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5314,20160809,11,153,110.0,10230,65,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5315,20160809,12,161,110.0,10231,60,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5316,20160809,13,165,135.0,10234,60,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5317,20160809,14,167,135.0,10233,65,80.000000,2.000000,0.072989,0.20318,0.001602,0.007093,0.016016
5596,20160821,5,150,145.0,10107,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5597,20160821,6,160,145.0,10111,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5598,20160821,7,160,150.0,10116,90,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5599,20160821,8,150,150.0,10122,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5600,20160821,9,165,150.0,10128,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5601,20160821,10,160,150.0,10134,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5602,20160821,11,180,150.0,10140,90,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5603,20160821,12,185,150.0,10150,83,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5604,20160821,13,185,175.0,10158,80,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5605,20160821,14,190,175.0,10165,77,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5606,20160821,15,200,175.0,10172,75,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5607,20160821,16,195,175.0,10175,75,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5608,20160821,17,190,175.0,10183,75,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5609,20160821,18,190,175.0,10187,76,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5610,20160821,19,180,160.0,10194,82,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5611,20160821,20,180,160.0,10199,82,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5612,20160821,21,175,160.0,10202,85,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5613,20160821,22,170,160.0,10202,88,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5614,20160821,23,170,160.0,10204,88,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5615,20160821,24,165,160.0,10206,90,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5616,20160822,1,165,160.0,10205,92,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5617,20160822,2,165,160.0,10204,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5618,20160822,3,170,160.0,10203,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5619,20160822,4,170,160.0,10205,97,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5620,20160822,5,175,160.0,10206,98,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5621,20160822,6,177,160.0,10212,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5622,20160822,7,180,175.0,10215,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5623,20160822,8,185,175.0,10220,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5624,20160822,9,185,175.0,10223,95,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5625,20160822,10,190,175.0,10228,90,61.916962,5.476267,0.072989,0.20318,0.001602,0.007093,0.016016
5626,20160822,11,193,175.0,10233,88,65.000000,8.000000,0.072989,0.20318,0.001602,0.007093,0.016016

In [127]:
df.fillna(df.mode().iloc[0], inplace=True)

<h1>Removing Outliers</h1>